pytorch-lightning >= 0.7.5
python-dotenv >= 0.13.0
unrar >= 0.4
av >= 8.0.0
ffmpeg-python
yacs>=0.1.6
pyyaml>=5.1
matplotlib >= 3.0.0
termcolor>=1.1
simplejson >= 3.0.0
tqdm >= 4.0.0
psutil >= 5.0.0
torchvision>=0.4.2
numpy >= 1.18.0
sklearn
fvcore
opencv-python >= 4.0.0
requests
-e git://github.com/facebookresearch/detectron2@v0.1.3#egg=detectron2